// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b4b4b;
$background-success-color:  #2ecc71;
$background-failure-color:  #e74c3c;
$background-progress-color:  #FFAB00;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  background-color: $background-color;

}

.widget-success {

  background-color: $background-success-color;

}

.widget-failure {

  background-color: $background-failure-color;

}

.widget-progress {

  background-color: $background-progress-color;

}

.widgetimage {
  height: 200px;
  width: 200px;
}
